div.bg {
    /* background-image: url('https://www.muralsyourway.com/media/catalog/product/cache/1/base/1200x/040ec09b1e35df139433887a97daa66f/b/r/bright-blue-water-background-wallpaper.jpg'); */
    /* background-image: url('https://previews.123rf.com/images/npstockphoto/npstockphoto1512/npstockphoto151200173/49949908-to-do-list-on-notebook-with-wood-background.jpg'); */
    /* background-image: url('https://www.desktopbackground.org/p/2012/06/11/403898_buscando-todo-en-informatica-pc-webcindario-com_1280x800_h.jpg'); */
    /* background-image: url('https://cdn.hipwallpaper.com/i/5/65/RTGf14.jpg'); */
    /* background-image: url('https://newevolutiondesigns.com/images/freebies/tropical-beach-background-1.jpg'); */
    background-image: url('https://www.solidbackgrounds.com/images/1920x1080/1920x1080-silver-solid-color-background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;

    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    position: absolute;

}